<h1>Welcome to Student Api</h1>
<div width="50%" style="float: left;">


<table border="1" [@fadeIn]>
  <tr>
    <th>RollNo</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Date</th>
    <th>Gender</th>
  </tr>
  <tr *ngFor="let student of studentData">
    <td>{{student.rollNo}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.email}}</td>
    <td>{{student.date}}</td>
    <td>{{student.isMale?"Male":"Female"}}</td>
  </tr>
</table>
</div>
<div style="float:right; width: 40%;">
  <button (click)="addStudent()" [@fadeIn]>Add student info</button>&nbsp;&nbsp;
  <button (click)="updateStudent()" [@fadeIn]>Update student info</button>&nbsp;&nbsp;
  <button (click)="deleteStudent()" [@fadeIn]>Delete student</button>&nbsp;&nbsp;

<router-outlet></router-outlet>
</div>